{% for district in site.data.districts %}
    {% if district.number == page.district_number %}
        <section id="intro" style="padding-top:50px">
            <div class="container">
                <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                            <h1 class="">{{ page.title }}: {{ page.month }}, {{ page.year }}</h1>
                        </div>
                </div>
            </div>
        </section>




        <section id="how-this-works">
            <div class="container"><div class="col-lg-12 col-sm-12"><h2>How This Works</h2></div></div>
            <div class="container">
                <div class="row bs-callout">
                    <div class="col-lg-6 col-sm-6">
                        <h3>The Call</h3>
                        <p>Calling is simple, fast and non-threatening. You will either talk to a young staff member (not Rep. {{ district.member.last_name }}) or you will get a recording. Staff will not quiz you.</p>
                        <p>They just want to know your name and address so they can confirm you live in District {{ district.number }}. Then they will listen and make notes while you tell them your talking points. They will thank you, and you’re done.  Simple as that.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                        <h3>Rep. {{ district.member.last_name }} ({{ district.state }}-{{ district.number }}) </h3>
                        <div class="col-md-4 col-md-offset-0 col-xs-offset-4 col-sm-offset-4 col-xs-4 col-sm-4">
                            <img class="img-responsive" src="/assets/img/info/{{ district.member.last_name | downcase }}.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-md-offset-1 col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
                            <h4>Offices</h4>
                            <ul>
                                {% for office in district.offices %}
                                    <li>
                                        <p>{{ office.city }}: {{ office.phone }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>Please call the office closest to you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section id="talking-points">
            <div class="container">
                <div class="col-lg-12 col-sm-12"><h2>{{ page.month }}'s Talking Points:</h2></div>
                <div class="col-lg-12 col-sm-12"><h4 style="font-style: italic">(Choose One)</h4></div>
            </div>
            <div class="container">
                <div class="panel-group" id="accordian" role="tablist" aria-multiselectable="true">
                    {% for talking_point in page.talking_points %}
                        {% assign anchor_collapse_index = '#collapse' | append: forloop.index %}
                        {% assign collapse_index = 'collapse' | append: forloop.index %}
                        {% assign heading_index = 'heading' | append: forloop.index %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="{{ heading_index }}">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="{{ anchor_collapse_index }}" aria-expanded="true" aria-controls="{{ collapse_index }}">
                                        {{ talking_point.theme }}
                                    </a>
                                </h3>
                            </div>
                            <div id="{{ collapse_index }}" class="panel-collapse collapse" role="tabpanel" id="{{ collapse_index }}" aria-labelledby="{{ heading_index }}">
                                <div class="panel-body">
                                    {% if talking_point.gratitude %}
                                        <div class="col-lg-12 col-sm-12">
                                            <h4>1. Gratitude</h4>
                                            <h5 class="talking-point-subtitle">A recent action by Rep. {{ district.member.last_name }} you can thank him for:</h5>
                                            <div class="col-lg-12 col-sm-12">
                                                <p>{{ talking_point.gratitude.text }}{% if talking_point.gratitude.link %} (<a href="{{ talking_point.gratitude.link }}" target="_blank">more info</a>){% endif %}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12 col-sm-12">
                                        <h4>{% if talking_point.gratitude %}2{% else %}1{% endif %}. Education</h4>
                                        <h5 class="talking-point-subtitle">A climate fact or event recently in the news:</h5>
                                        <div class="col-lg-12 col-sm-12">
                                            <p>{{ talking_point.education.text }}{% if talking_point.education.link %} (<a href="{{ talking_point.education.link }}" target="_blank">more info</a>){% endif %}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <h4>{% if talking_point.gratitude %}3{% else %}2{% endif %}. Request</h4>
                                        <h5 class="talking-point-subtitle">A specific request for Rep. {{ district.member.last_name }}:</h5>
                                        <div class="col-lg-12 col-sm-12">
                                            <p>{{ talking_point.request.text }}{% if talking_point.request.link %} (<a href="{{ talking_point.request.link }}" target="_blank">more info</a>){% endif %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endfor %}