<!-- Footer -->
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#talking-points">Your Talking Points</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#info">How This Works</a>
                        </li>
                    </ul>
                    A project of <a href="https://www.citizensclimatelobby.org">Citizens' Climate Lobby</a> volunteers in Central Texas.
                </div>
                <div class="col-md-4">
                    {{ site.credits }}
                </div>
            </div>
        </div>
    </footer>
    