    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Project Grand Canyon</h2>
                <div class="about-paragraph"><p>Congressional staffers and representatives have told us nothing is more powerful in helping a representative know what their constituents want than written letters and phone calls.</p></div>
                <div class="about-paragraph"><p>Based on this fact, an effort called Project Grand Canyon was born. Just as the Grand Canyon was excavated one water drop at a time, our Members of Congress’ resistance to climate solutions will be worn down by the drip, drip, drip of 100 phone calls per month.</p></div>
                <div class="about-paragraph"><p>Project Grand Canyon is currently operating in Central Texas and South Minnesota.</p></div>
              </div>
        </div>
    </section>
